
<form action='/tweets' method="post">
  Content:
  <input type="text" name="content"><br>
  Create Your Tweet:

  <input type="submit" name="submit" id="submit">
</form>

<br><br>
<a href="/tweets/new">Create new tweet</a>
<br>
<a href="/tweets">Show all tweets</a><br>
<a href="/logout">Logout</a>
